<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fluffyhairedkid.dicemasterscompanion"
    android:installLocation="auto"
    android:versionCode="43"
    android:versionName="1.12.6">

    <uses-sdk />

    <!-- <android:uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- permissions for APK Externals
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

   <!-- android:icon="@drawable/ic_launcher" -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardViewer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".CardCollector"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".CardCollectorNEW"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".Search"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".Credits"
            android:label="@string/title_activity_credits" />
        <activity
            android:name=".Marvel"
            android:label="@string/app_name" />
        <activity
            android:name=".TeamBuilder"
            android:label="@string/title_activity_team_builder" />
        <activity
            android:name=".DCComics"
            android:label="@string/app_name" />
        <!--
            <activity
            android:name="fluffyhairedkid.dicemasterscompanion.Randomizer"
            android:label="@string/title_activity_randomizer"></activity>
        -->
        <activity
            android:name=".LifeCounter"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_life_counter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeamViewer"
            android:label="@string/app_name" />
        <activity
            android:name=".DnD"
            android:label="@string/app_name" />
        <activity
            android:name=".W40K"
            android:label="@string/app_name" />
        <activity
            android:name=".Tools"
            android:label="@string/app_name" />
        <activity
            android:name=".OtherSets"
            android:label="@string/app_name"/>
        <activity android:name=".DataManagement"
            android:label="@string/app_name"/>
    </application>

</manifest>